<div class="container mt-5">
  <h2 class="mb-4">Historial de Acciones del Usuario</h2>

  <div *ngIf="actions.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha</th>
          <th>Descripción</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let action of actions.reverse()">
          <td>{{ action.id }}</td>
          <td>{{ action.fecha_h}}</td>
          <td>{{ action.servicio}}</td>
          <td>{{action.valor | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf=" actions.length === 0" class="alert alert-info">
    No hay acciones registradas.
  </div>
</div>
