<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="big">
  <div class="wrapper text-light">
    <div class="logo">
        <img src="./assets/images/logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        NEXEN
    </div>

    <form (ngSubmit)="onSubmit()" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username" [(ngModel)]="username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password" [(ngModel)]="password">
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <button type="submit" class="btn mt-3 btn-primary">Login</button>
    </form>

    <div class="text-center fs-6">
      <a href="#/register">Registro</a>
    </div>
  </div>

</div>
