
<div class="container">
  <div class="row">
    <!-- You can make it whatever width you want. I'm making it full width
           on <= small devices and 4/12 page width on >= medium devices -->
    <div class="col-xs-12 col-md-4">

      <!-- CREDIT CARD FORM STARTS HERE -->
      <div class="card credit-card-box">
        <div class="card-header display-table">
          <div class="row display-tr">
            <h3 class="panel-title display-td">Payment Details <img class="img-responsive pull-right" height="40px"
              src="./assets/images/visa.png"></h3>



          </div>
        </div>
        <div class="card-body">
          <form role="form" id="payment-form" method="POST"
            action="javascript:void(0);">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="cardNumber">CARD NUMBER</label>
                  <div class="input-group">
                    <input
                      type="tel"
                      class="form-control"
                      name="cardNumber"
                      placeholder="Valid Card Number"
                      autocomplete="cc-number"
                      required autofocus />
                    <span class="input-group-addon"><i
                        class="fa fa-credit-card"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7 col-md-7">
                <div class="form-group">
                  <label for="cardExpiry"><span
                      class="hidden-xs">EXPIRATION</span><span
                      class="visible-xs-inline">EXP</span> DATE</label>
                  <input
                    type="tel"
                    class="form-control"
                    name="cardExpiry"
                    placeholder="MM / YY"
                    autocomplete="cc-exp"
                    required />
                </div>
              </div>
              <div class="col-xs-5 col-md-5 pull-right">
                <div class="form-group">
                  <label for="cardCVC">CV CODE</label>
                  <input
                    type="tel"
                    class="form-control"
                    name="cardCVC"
                    placeholder="CVC"
                    autocomplete="cc-csc"
                    required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="couponCode">COUPON CODE</label>
                  <input type="text" class="form-control" name="couponCode" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button class="subscribe btn btn-success mt-2"
                  type="button">Start Subscription</button>
              </div>
            </div>
            <div class="row" style="display:none;">
              <div class="col-xs-12">
                <p class="payment-errors"></p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- CREDIT CARD FORM ENDS HERE -->

    </div>

    <div class="rental-form">
      <form id="rentalForm">
        <div class="form-group">
          <label for="fullName">Nombre Completo:</label>
          <input type="text" id="fullName" name="fullName" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="profession">Profesión:</label>
          <input type="text" id="profession" name="profession" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="email">Correo Electrónico:</label>
          <input type="email" id="email" name="email" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="address">Dirección:</label>
          <input type="text" id="address" name="address" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="phone">Teléfono:</label>
          <input type="tel" id="phone" name="phone" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="rentalReason">Motivo del alquiler:</label>
          <select id="rentalReason" name="rentalReason" class="form-control">
            <option value="Trabajo">Trabajo</option>
            <option value="Turismo">Turismo</option>
            <option value="Otro">Otro</option>
          </select>
        </div>
        
        <div class="form-group">
          <label>Fecha de alquiler:</label>
          <input type="date" id="rentalStartDate" name="rentalStartDate" class="form-control-inline"> 
          a 
          <input type="date" id="rentalEndDate" name="rentalEndDate" class="form-control-inline">
        </div>
        
        <div class="form-group">
          <label for="carModel">Elija modelo a alquilar:</label>
          <select id="carModel" name="carModel" class="form-control">
            <option value="Toyota">Toyota</option>
            <option value="Ford">Ford</option>
            <option value="Honda">Honda</option>
          </select>
        </div>
        
        <button type="button" onclick="handleRentalFormSubmit()" class="btn btn-primary">Siguiente</button>
      </form>
    </div>
    
    
    

  </div>
</div>
