
<div class="container">
  <div class="row">
    <!-- You can make it whatever width you want. I'm making it full width
           on <= small devices and 4/12 page width on >= medium devices -->
    <div class="col-md-4" id="details-vehicle" [hidden]="v">
      <div class="card-md-4">
        <div class="card-body">
          <button type="button" class="btn" >
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Low KMS</span>
                    <img class="img-fluid" [src]="vehicle.image" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span
                        class="card-detail-badge me-1">{{vehicle.price}}/mes</span>

                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>{{vehicle.name}}</h5>
                    </div>

                </div>
            </div>
          </button>


        </div>
      </div>
    </div>

    <div class="col-md-4" [hidden]="v">
      <div class="card mb-4" id="vehiculo">
        <div class="card-body">
          <form id="rentalForm">
            <div class="form-group">
              <label for="fullName">Nombre Completo:</label>
              <input type="text" id="fullName" name="fullName" class="form-control">
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="profession">Profesión:</label>
                  <input type="text" id="profession" name="profession" class="form-control">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="phone">Teléfono:</label>
                  <input type="tel" id="phone" name="phone" class="form-control">
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="email">Correo Electrónico:</label>
              <input type="email" id="email" name="email" class="form-control">
            </div>

            <div class="form-group row mb-2">
              <label for="address">Dirección:</label>
              <input type="text" id="address" name="address" class="form-control">
            </div>



            <div class="form-group row mb-2">
              <label for="rentalReason">Motivo del alquiler:</label>
              <select id="rentalReason" name="rentalReason" class="form-control">
                <option value="Trabajo">Trabajo</option>
                <option value="Turismo">Turismo</option>
                <option value="Otro">Otro</option>
              </select>
            </div>

            <div class="form-group">
              <div class="row mb-2">
                <div class="col-md-6">
                  <label for="rentalStartDate">Fecha de alquiler:</label>
                  <input type="date" id="rentalStartDate" name="rentalStartDate" class="form-control">
                </div>

                <div class="col-md-6">
                  <label for="rentalEndDate">Fecha de entrega</label>
                  <input type="date" id="rentalEndDate" name="rentalEndDate" class="form-control">
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">

      <!-- CREDIT CARD FORM STARTS HERE -->
      <div class="card credit-card-box">
        <div class="card-header display-table">
          <div class="row display-tr">
            <h3 class="panel-title display-td">Detalles del pago <img class="img-responsive pull-right" height="40px"
              src="./assets/images/visa.png"></h3>



          </div>
        </div>
        <div class="card-body">
          <form role="form" id="payment-form" method="POST"
            action="javascript:void(0);">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="cardNumber">Numero de la tarjeta</label>
                  <div class="input-group">
                    <input
                      type="tel"
                      class="form-control"
                      name="cardNumber"
                      placeholder="Valid Card Number"
                      autocomplete="cc-number"
                      required autofocus />
                    <span class="input-group-addon"><i
                        class="fa fa-credit-card"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7 col-md-7">
                <div class="form-group">
                  <label for="cardExpiry"><span
                      class="hidden-xs">Expira</span><span
                      class="visible-xs-inline"></span> </label>
                  <input
                    type="tel"
                    class="form-control"
                    name="cardExpiry"
                    placeholder="MM / YY"
                    autocomplete="cc-exp"
                    required />
                </div>
              </div>
              <div class="col-xs-5 col-md-5 pull-right">
                <div class="form-group">
                  <label for="cardCVC">CVV</label>
                  <input
                    type="tel"
                    class="form-control"
                    name="cardCVC"
                    placeholder="CVV"
                    autocomplete="cc-csc"
                    required />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button class="subscribe btn btn-success mt-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Pagar</button>
              </div>
            </div>
            <div class="row" style="display:none;">
              <div class="col-xs-12">
                <p class="payment-errors"></p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- CREDIT CARD FORM ENDS HERE -->

    </div>





  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Pago Exitoso</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
