<div class="container mt-3">
  <h2 class="text-center mb-4">Servicios de Seguridad para Transportadores</h2>

  <p class="text-justify mb-6">
    En nuestra empresa, nos dedicamos a proporcionar soluciones de seguridad
    integral para transportadores. Ofrecemos una amplia gama de servicios
    diseñados para garantizar la protección y eficiencia de tus operaciones.
    Desde el monitoreo en tiempo real y botones de pánico, hasta servicios de
    rastreo, recuperación y asistencia mecánica, estamos comprometidos a
    brindarte la tranquilidad y el soporte que necesitas en el camino.
  </p>
  <div class="row mt-5">
    <!-- Servicio 1 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <span class="card-notify-badge">Oferta especial</span>

        <img
          src="https://img.freepik.com/vector-gratis/ilustracion-concepto-abstracto-seguimiento-entrega-inteligente_335657-3936.jpg?t=st=1716777738~exp=1716781338~hmac=4ba86797602f2c3b9cf4d1ac67954c7071cf942ab633b1eb6801422299a8e2e2&w=740"
          class="card-img-top"
          alt="Monitoreo en tiempo real"
        />

        <div class="card-body">
          <h5 class="card-title">Monitoreo en Tiempo Real</h5>
          <p class="card-text">
            Te ofrecemos al capacidad de dar monitoreo en tiempo real a tus
            vehículos, asegurando su localización y estado en todo momento.
          </p>
          <button class="btn btn-primary mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Adquirir Servicio</button>
        </div>
      </div>
    </div>
    <!-- Servicio 2 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <span class="card-notify-badge">Adquierelo ya</span>
        <img
          src="https://img.freepik.com/vector-gratis/ilustracion-concepto-remolque_114360-5374.jpg?t=st=1716776013~exp=1716779613~hmac=d2c421006ef1d7293d2cd0a456699c75f186e1257f7517fa39fe03d92efe471d&w=740"
          class="card-img-top"
          alt="Monitoreo en tiempo real"
        />
        <div class="card-body">
          <h5 class="card-title">Asistencia Mecánica y Grúa</h5>
          <p class="card-text">
            Ofrecemos asistencia inmediata en caso de avería o accidente,
            proporcionando servicios de mecánica y grúa 24/7.
          </p>
          <button class="btn btn-primary mt-auto " data-bs-toggle="modal" data-bs-target="#exampleModal">Adquirir Servicio</button>
        </div>
      </div>
    </div>
    <!-- Servicio 3 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <span class="card-notify-badge">Low cost</span>
        <img
          src="https://img.freepik.com/vector-gratis/ilustracion-concepto-abstracto-suave-seguimiento-movil_335657-2233.jpg?t=st=1716775469~exp=1716779069~hmac=fddcb71a2811e61e13ee10907655b3118005fc426b63665852b133fbefbf935d&w=740"
          class="card-img-top"
          alt="Rastreo y recuperación"
        />
        <div class="card-body">
          <h5 class="card-title">Rastreo y Recuperación</h5>
          <p class="card-text">
            Podemos ayudarte en la recuperación de vehículos en caso de robo,
            proporcionando información precisa y oportuna.
          </p>
          <button class="btn btn-primary mt-auto " data-bs-toggle="modal" data-bs-target="#exampleModal" >Adquirir Servicio</button>
        </div>
      </div>
    </div>
  </div>
</div>

<form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Pago de Subscripcion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card">


        <div class="card-header display-table">
          <div class="row display-tr">
            <h3 class="panel-title display-td">Detalles del pago <img class="img-responsive pull-right" height="40px"
              src="./assets/images/visa.png"></h3>

          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="cardNumber">Numero de la tarjeta</label>
                <div class="input-group">
                  <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus />
                  <span class="input-group-addon"><i
                      class="fa fa-credit-card"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-7 col-md-7">
              <div class="form-group">
                <label for="cardExpiry"><span class="hidden-xs">Expira</span><span class="visible-xs-inline"></span> </label>
                <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required />
              </div>
            </div>
            <div class="col-xs-5 col-md-5 pull-right">
              <div class="form-group">
                <label for="cardCVC">CVV</label>
                <input type="tel" class="form-control" name="cardCVC" placeholder="CVV" autocomplete="cc-csc" required />
              </div>
            </div>
          </div>


          <div class="row" style="display:none;">
            <div class="col-xs-12">
              <p class="payment-errors"></p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <p>A continuacion te dispones a pagar una Subscripcionpor $150.000 mensuales por los servicios de seguridad</p>
          <p>Deberas dirigirte a la sede principal para instalar en tu vehiculo los dispositivos</p>
        </div>

      </div>
      <div class="modal-footer">
        <button class="subscribe btn btn-success mt-2" type="submit" (click)="processPayment()">Pagar</button>
      </div>

    </div>
  </div>
  </div>
</div>
</form>
