<div class="container mt-3">
  <h2 class="text-center mb-4">Servicios de Seguridad para Transportadores</h2>

  <p class="text-justify mb-6">
    En nuestra empresa, nos dedicamos a proporcionar soluciones de seguridad
    integral para transportadores. Ofrecemos una amplia gama de servicios
    diseñados para garantizar la protección y eficiencia de tus operaciones.
    Desde el monitoreo en tiempo real y botones de pánico, hasta servicios de
    rastreo, recuperación y asistencia mecánica, estamos comprometidos a
    brindarte la tranquilidad y el soporte que necesitas en el camino.
  </p>
  <div class="row mt-5">
    <!-- Servicio 1 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <span class="card-notify-badge">Oferta especial</span>

        <img
          src="https://img.freepik.com/vector-gratis/ilustracion-concepto-abstracto-seguimiento-entrega-inteligente_335657-3936.jpg?t=st=1716777738~exp=1716781338~hmac=4ba86797602f2c3b9cf4d1ac67954c7071cf942ab633b1eb6801422299a8e2e2&w=740"
          class="card-img-top"
          alt="Monitoreo en tiempo real"
        />

        <div class="card-body">
          <h5 class="card-title">Monitoreo en Tiempo Real</h5>
          <p class="card-text">
            Te ofrecemos al capacidad de dar monitoreo en tiempo real a tus
            vehículos, asegurando su localización y estado en todo momento.
          </p>
          <button class="btn btn-primary mt-auto">Adquirir Servicio</button>
        </div>
      </div>
    </div>
    <!-- Servicio 2 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <span class="card-notify-badge">Adquierelo ya</span>
        <img
          src="https://img.freepik.com/vector-gratis/ilustracion-concepto-remolque_114360-5374.jpg?t=st=1716776013~exp=1716779613~hmac=d2c421006ef1d7293d2cd0a456699c75f186e1257f7517fa39fe03d92efe471d&w=740"
          class="card-img-top"
          alt="Monitoreo en tiempo real"
        />
        <div class="card-body">
          <h5 class="card-title">Asistencia Mecánica y Grúa</h5>
          <p class="card-text">
            Ofrecemos asistencia inmediata en caso de avería o accidente,
            proporcionando servicios de mecánica y grúa 24/7.
          </p>
          <button class="btn btn-primary mt-auto">Adquirir Servicio</button>
        </div>
      </div>
    </div>
    <!-- Servicio 3 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <span class="card-notify-badge">Low cost</span>
        <img
          src="https://img.freepik.com/vector-gratis/ilustracion-concepto-abstracto-suave-seguimiento-movil_335657-2233.jpg?t=st=1716775469~exp=1716779069~hmac=fddcb71a2811e61e13ee10907655b3118005fc426b63665852b133fbefbf935d&w=740"
          class="card-img-top"
          alt="Rastreo y recuperación"
        />
        <div class="card-body">
          <h5 class="card-title">Rastreo y Recuperación</h5>
          <p class="card-text">
            Podemos ayudarte en la recuperación de vehículos en caso de robo,
            proporcionando información precisa y oportuna.
          </p>
          <a class="btn btn-primary mt-auto" href="services/monitoreo">Adquirir Servicio</a>
        </div>
      </div>
    </div>
  </div>
</div>
