.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  margin: 1em;

}

.text{
  text-align: justify;
}

.card-img-top {
  width: 100%;
  /* Ancho deseado */
  height: 550px;
  /* Altura deseada */
}
