<!--main-->
<div class="wrapper d-flex flex-column min-vh-100">
  <!--app-header-->
  <app-header
    [cShadowOnScroll]="'sm'"
    class="mb-4 d-print-none header header-sticky p-0 shadow-sm"
    position="sticky"
    sidebarId="sidebar1"
  />
  <!--app-body-->
  <div class="body flex-grow-1 ms-3">
    <c-container breakpoint="lg" class="h-auto px-4">
      <section id="carousel">
        <c-carousel class="ms-5 me-5">
          <c-carousel-indicators></c-carousel-indicators>
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
                <img
                  alt="{{ slide.title }}"
                  class="d-block w-100 card-img-top"
                  loading="lazy"
                  src="{{ slide.src }}"
                />
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control
            [routerLink]
            caption="Previous"
            direction="prev"
          ></c-carousel-control>
          <c-carousel-control
            [routerLink]
            caption="Next"
            direction="next"
          ></c-carousel-control>
        </c-carousel>
      </section>
      <section id="about-us" class=" mt-5">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-4">
            <img style="height: 20rem;" src="https://www.latercera.com/resizer/I6XaWyhCokBSy1I1ebUbn2HWzbw=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/J4AHAHSFNRGX7MCO6653MOPEFA.jpg" alt="" >
          </div>
          <div class="col-5">
            <h2>Acerca de Nosotros</h2>
            <p class="text">
              ServiDrone es una empresa líder en la prestación de servicios de
              domicilio con tecnología de vanguardia. Nuestro objetivo es
              proporcionar soluciones innovadoras y eficientes para satisfacer
              las necesidades de entrega de nuestros clientes.
              <br /><br />
              Con una flota de drones y robots de última generación,
              garantizamos entregas rápidas, seguras y confiables en cualquier
              lugar y momento.
              <br /><br />
              Además, nos comprometemos a brindar seguridad a los transportistas
              en el transporte público, ofreciendo alertas de seguridad y
              botones de pánico en situaciones de emergencia.
            </p>
          </div>

        </div>
      </section>

      <section class="mt-5" id="our-services">
        <h2 class="center"><center> Nuestros Servicios </center></h2>
        <div class="services">
          <app-card
            *ngFor="let elemento of dataCards"
            [imgSrc]="elemento['imgSrc']"
            [title]="elemento['title']"
            [descripcion]="elemento['descripcion']"
            [src]="elemento['src']"
          />
        </div>
      </section>
      <section class="" id="devs">
        <h2 class="center"><center> Nuestros Desarrolladores </center></h2>
        <div class="services " id="devs">
          <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let developer of developers">
              <div class="card text-center h-100">
                <div class="card-img-container">
                  <img [src]="developer.image" class="card-img-top rounded-circle mx-auto" alt="{{ developer.name }}">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ developer.name }}</h5>
                  <p class="card-text">{{ developer.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    </c-container>
  </div>
  <!--app footer-->
  <app-footer />
</div>
