<div class="row" id="contatti">
  <div class="container mt-5" >
      <div class="row" style="height:550px;">
        <div class="col-md-6 maps" id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d31673.73631398843!2d-73.10213119999999!3d7.1008256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8e683f9501983051%3A0x816d5ea64809e1b0!2sCacique%20El%20Centro%20Comercial!3m2!1d7.0996939!2d-73.1073169!4m5!1s0x8e683fe064f93ebf%3A0xbc42f072c47c5ffa!2sParque%20San%20P%C3%ADo%2C%20Cra.%2033%20%2345%2C%20Cabecera%20del%20llano%2C%20Bucaramanga%2C%20Santander!3m2!1d7.1185336999999995!2d-73.1103612!5e0!3m2!1ses!2sco!4v1716698877256!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
          <h2 class="text-uppercase mt-3 font-weight-bold ">Solicitar envio</h2>
          <form action="">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control mt-2" placeholder="Direccion de Regogida" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="address" class="form-control mt-2" placeholder="Direccion de Entrega" >
                </div>
              </div>

              <div class="col-12 mt-5">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Solicitar Envio
                </button>
              </div>

            </div>
          </form>


          </div>
        </div>

      </div>
  </div>



<form>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Pago de Subscripcion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card">


          <div class="card-header display-table">
            <div class="row display-tr">
              <h3 class="panel-title display-td">Detalles del pago <img class="img-responsive pull-right" height="40px"
                src="./assets/images/visa.png"></h3>

            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="cardNumber">Numero de la tarjeta</label>
                  <div class="input-group">
                    <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus />
                    <span class="input-group-addon"><i
                        class="fa fa-credit-card"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7 col-md-7">
                <div class="form-group">
                  <label for="cardExpiry"><span class="hidden-xs">Expira</span><span class="visible-xs-inline"></span> </label>
                  <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required />
                </div>
              </div>
              <div class="col-xs-5 col-md-5 pull-right">
                <div class="form-group">
                  <label for="cardCVC">CVV</label>
                  <input type="tel" class="form-control" name="cardCVC" placeholder="CVV" autocomplete="cc-csc" required />
                </div>
              </div>
            </div>


            <div class="row" style="display:none;">
              <div class="col-xs-12">
                <p class="payment-errors"></p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p>A continuacion te dispones a pagar $15.000 del coste del envio, espera la llegada </p>
          </div>

        </div>
        <div class="modal-footer">
          <button class="subscribe btn btn-success mt-2" type="submit" (click)="processPayment()">Pagar</button>
        </div>

      </div>
    </div>
    </div>
  </div>
  </form>
